:root{
    /*导航*/
    --nav-bg: #fff;
    --nav-a: rgba(51,51,51,1);
    --nav-typeface: "SourceHanSansSC";
    --nav-isactive: rgba(196,0,0,1) !important;
    /*尾部*/
    --footer-bg: rgba(61,61,61,1);
    --footer-logo: #fff
}
@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('https://at.alicdn.com/t/webfont_p37u8h7p3c8.eot'); /* IE9*/
    src: url('https://at.alicdn.com/t/webfont_p37u8h7p3c8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://at.alicdn.com/t/webfont_p37u8h7p3c8.woff2') format('woff2'),
    url('https://at.alicdn.com/t/webfont_p37u8h7p3c8.woff') format('woff'), /* chrome、firefox */
    url('https://at.alicdn.com/t/webfont_p37u8h7p3c8.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('https://at.alicdn.com/t/webfont_p37u8h7p3c8.svg#思源黑体-粗') format('svg'); /* iOS 4.1- */
}
.web-font{
    font-family:"webfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}